<ion-header translucent="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Johan' s News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col 
      *ngFor="let noticia of Noticias"
       size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card color="dark">
          <img *ngIf="noticia.urlToImage" src="{{noticia.urlToImage}}"/>
          <ion-card-header>
            <ion-card-subtitle>{{noticia.source.name}}</ion-card-subtitle>
            <ion-card-title>{{noticia.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{noticia.description}}
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
